### Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and managed to provide efficient access, storage, retrieval, and manipulation of data. Databases are essential components of modern software applications and are used to store various types of data, ranging from simple text and numbers to complex multimedia files.

Here's a differentiation between SQL (relational) and NoSQL (non-relational) databases:

**SQL (Relational) Databases:**
1. **Structure:** SQL databases are based on the relational model and store data in tables with rows and columns. Each table represents an entity, and relationships between tables are defined using foreign keys.
2. **Schema:** SQL databases typically have a predefined schema that specifies the structure of the data, including data types and constraints.
3. **Query Language:** SQL (Structured Query Language) is used to interact with SQL databases. SQL provides powerful querying capabilities for retrieving, updating, inserting, and deleting data.
4. **Transactions:** SQL databases support ACID (Atomicity, Consistency, Isolation, Durability) transactions, ensuring data integrity and consistency.
5. **Examples:** MySQL, PostgreSQL, Oracle, SQL Server.

**NoSQL (Non-Relational) Databases:**
1. **Structure:** NoSQL databases use various data models, such as document-based, key-value pairs, column-family, or graph-based, to store and manage data. They typically do not enforce a rigid schema, allowing for more flexible data storage.
2. **Schema:** NoSQL databases are schema-less or have a dynamic schema, allowing developers to store heterogeneous data without predefined structure.
3. **Query Language:** NoSQL databases may use different query languages or APIs tailored to their data model. Some NoSQL databases support SQL-like query languages, while others use proprietary APIs.
4. **Scalability:** NoSQL databases are designed for horizontal scalability, making them suitable for handling large volumes of data and distributed systems.
5. **Flexibility:** NoSQL databases are well-suited for handling unstructured or semi-structured data and can accommodate evolving data requirements more easily than SQL databases.
6. **Examples:** MongoDB, Cassandra, Redis, Couchbase.

In summary, SQL databases follow a structured, relational model with a predefined schema and use SQL as the query language, while NoSQL databases offer more flexibility in data modeling, schema design, and scalability, catering to diverse data storage and processing requirements.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define, modify, and manage the structure of database objects such as tables, indexes, views, and schemas. DDL statements are used to create, modify, or drop database objects, as well as to define constraints and permissions.

Here's an explanation of some commonly used DDL statements and their purposes:

1. **CREATE:** The CREATE statement is used to create new database objects such as tables, indexes, views, or schemas.

   Example:
   ```sql
   CREATE TABLE employees (
       id INT PRIMARY KEY,
       name VARCHAR(100),
       age INT,
       department VARCHAR(100)
   );
   ```
   This SQL statement creates a new table named "employees" with columns for id, name, age, and department.

2. **DROP:** The DROP statement is used to remove existing database objects such as tables, indexes, views, or schemas.

   Example:
   ```sql
   DROP TABLE employees;
   ```
   This SQL statement drops the "employees" table from the database.

3. **ALTER:** The ALTER statement is used to modify the structure of existing database objects such as tables, by adding, modifying, or dropping columns, constraints, or indexes.

   Example:
   ```sql
   ALTER TABLE employees
   ADD COLUMN email VARCHAR(255);
   ```
   This SQL statement adds a new column named "email" to the "employees" table.

4. **TRUNCATE:** The TRUNCATE statement is used to remove all rows from a table, effectively resetting the table's data.

   Example:
   ```sql
   TRUNCATE TABLE employees;
   ```
   This SQL statement removes all rows from the "employees" table, but retains the table structure.

These DDL statements are essential for managing the structure and schema of a database, allowing developers and administrators to create, modify, and remove database objects as needed.

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate data stored in a database. DML statements are used to insert, update, delete, and retrieve data from database tables. Here's an explanation of some commonly used DML statements:

1. **INSERT:** The INSERT statement is used to add new records (rows) into a table.

   Example:
   ```sql
   INSERT INTO employees (id, name, age, department)
   VALUES (1, 'John Doe', 30, 'IT');
   ```
   This SQL statement inserts a new record into the "employees" table with the specified values for the "id", "name", "age", and "department" columns.

2. **UPDATE:** The UPDATE statement is used to modify existing records in a table.

   Example:
   ```sql
   UPDATE employees
   SET age = 32
   WHERE id = 1;
   ```
   This SQL statement updates the "age" column of the record in the "employees" table where the "id" is 1, setting the age to 32.

3. **DELETE:** The DELETE statement is used to remove existing records from a table.

   Example:
   ```sql
   DELETE FROM employees
   WHERE id = 1;
   ```
   This SQL statement deletes the record from the "employees" table where the "id" is 1.

These DML statements are essential for manipulating the data stored in database tables. They allow developers and administrators to insert new data, update existing data, and delete unwanted data from the database, enabling efficient management and maintenance of the data within the database.

### Q4. What is DQL? Explain SELECT with an example.
DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL is primarily concerned with querying data stored in database tables. The most commonly used DQL statement is SELECT.

Here's an explanation of the SELECT statement along with an example:

**SELECT:** The SELECT statement is used to retrieve data from one or more tables in a database. It allows you to specify the columns you want to retrieve and apply various conditions and filters to the data.

Example:
```sql
SELECT id, name, age
FROM employees
WHERE department = 'IT';
```
In this SQL statement:

- **SELECT id, name, age:** Specifies the columns (id, name, age) that you want to retrieve from the "employees" table.
- **FROM employees:** Specifies the table (employees) from which you want to retrieve the data.
- **WHERE department = 'IT':** Specifies a condition that filters the data, retrieving only those records where the "department" column has the value 'IT'.

This SELECT statement retrieves the "id", "name", and "age" columns from the "employees" table where the "department" is 'IT'.

The result of this SELECT statement would be a set of rows containing the specified columns' data that meets the specified condition. This data can then be further processed or displayed as needed.

SELECT statements can be quite powerful, supporting various features such as joins, subqueries, aggregation functions, sorting, and grouping, allowing for complex data retrieval operations from databases.

### Q5. Explain Primary Key and Foreign Key.

Primary Key and Foreign Key are two important concepts in relational database design that establish relationships between tables.

**Primary Key:**
- A Primary Key is a column (or a set of columns) in a table that uniquely identifies each row in that table.
- It must contain unique values and cannot have NULL values.
- By defining a Primary Key, you ensure data integrity and provide a way to uniquely identify each record in the table.
- There can be only one Primary Key in a table.
- Commonly, Primary Keys are implemented using an auto-incrementing integer column, such as an ID column.

Example:
```sql
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    name VARCHAR(100),
    department_id INT
);
```
In this example, the `employee_id` column is designated as the Primary Key for the `employees` table. Each employee will have a unique `employee_id`.

**Foreign Key:**
- A Foreign Key is a column (or a set of columns) in a child table that establishes a relationship with a Primary Key column in a parent table.
- It ensures referential integrity by enforcing a link between related tables.
- A Foreign Key value in a child table must exist in the referenced Primary Key column in the parent table or be NULL if the relationship is optional.
- It helps maintain consistency and integrity in the database by preventing orphaned records.
- There can be multiple Foreign Keys in a table, each referring to different parent tables.

Example:
```sql
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    name VARCHAR(100),
    department_id INT,
    FOREIGN KEY (department_id) REFERENCES departments(department_id)
);

CREATE TABLE departments (
    department_id INT PRIMARY KEY,
    name VARCHAR(100)
);
```
In this example, the `department_id` column in the `employees` table is a Foreign Key that references the `department_id` column in the `departments` table. This establishes a relationship between the `employees` table and the `departments` table, where each employee belongs to a specific department.

In summary, a Primary Key uniquely identifies each record in a table, while a Foreign Key establishes relationships between tables to maintain referential integrity and enforce data consistency.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
To connect Python to MySQL, we can use the `mysql-connector-python` library. First, make sure we have the library installed (`pip install mysql-connector-python`), then we can use the following Python code to connect to a MySQL database:

```python
import mysql.connector

# Connect to the MySQL database
mydb = mysql.connector.connect(
    host="localhost",
    user="username",
    password="password",
    database="database"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute SQL queries
mycursor.execute("SELECT * FROM tableName")

# Fetch results
result = mycursor.fetchall()

# Print results
for row in result:
    print(row)

# Close the cursor and connection
mycursor.close()
mydb.close()
```

Explanation of `cursor()` and `execute()` methods:

1. **cursor():**
   - The `cursor()` method is used to create a cursor object, which is a control structure that allows us to interact with the database.
   - It enables us to execute SQL queries, fetch data, and manage transactions.
   - Once the cursor object is created, we can use it to execute SQL statements and retrieve the results.

2. **execute():**
   - The `execute()` method is used to execute SQL queries or commands.
   - It takes an SQL query as its argument and executes it against the connected database.
   - After executing the query, we can fetch the results using methods like `fetchall()`, `fetchone()`, or `fetchmany()`.
   - we can also use placeholders in SQL queries and pass parameters to `execute()` to prevent SQL injection attacks.

In the provided code example, `mycursor.execute("SELECT * FROM yourtable")` executes a SELECT query to retrieve all rows from the specified table. The results are then fetched using `fetchall()` and printed out. Finally, the cursor and the database connection are closed to release resources.

### Q7. Give the order of execution of SQL clauses in an SQL query.
In SQL, the order of execution of clauses in an SQL query typically follows a logical sequence. Here's the general order of execution:

1. **FROM:** The FROM clause specifies the tables or views from which to retrieve data. It identifies the data sources for the query.

2. **JOIN:** If the query involves joining multiple tables, the JOIN clause specifies the conditions for joining the tables. It combines rows from different tables based on a related column between them.

3. **WHERE:** The WHERE clause filters the rows returned by the FROM and JOIN clauses based on specified conditions. It selects only those rows that satisfy the given criteria.

4. **GROUP BY:** The GROUP BY clause is used to group rows that have the same values into summary rows. It aggregates data based on specified columns, typically used in conjunction with aggregate functions like SUM, COUNT, AVG, etc.

5. **HAVING:** The HAVING clause filters the grouped rows returned by the GROUP BY clause based on specified conditions. It selects only those groups that satisfy the given criteria.

6. **SELECT:** The SELECT clause specifies the columns to be retrieved from the result set. It projects the data in the desired format, including calculated expressions, aliases, etc.

7. **DISTINCT:** If the query includes the DISTINCT keyword, duplicate rows are removed from the result set.

8. **ORDER BY:** The ORDER BY clause sorts the rows returned by the SELECT statement based on specified columns and sort order (ascending or descending).

9. **LIMIT/OFFSET:** The LIMIT and OFFSET clauses are used to restrict the number of rows returned by the query and control pagination. LIMIT specifies the maximum number of rows to return, while OFFSET specifies the number of rows to skip before starting to return rows.

Order may vary based on the specific requirements of the query. However, this general order provides a guideline for understanding the sequence of operations in SQL query execution.